<!doctype html>

<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <h1>Chat bot</h1>
</nav>

<section class="content">

  <div class="video-player">
    <video width="600" height="400" autoplay="autoplay" controls="controls" preload="preload">
      <source src={{ url_for('static', filename='media/input_videoKennedy.mp4')}} type="video/mp4">
      Your browser does not support the video tag.
    </video> 
  </div>

  <div>
    <div> {{text}} </div>
    <label>Input</label>
    <input type="text" id="fname" name="fname" placeholder="Say hello !" value="text"><br><br>
    <button>Submit</button>
  </div>
</section>