/* h2{
    background-color: blue;
} */

    
.centered-div{
    /* background-color: blueviolet; */
    display : flex;
    align-items : center;
    justify-content : center;
    height : 90vh;
    width: 100vh;
    /* width : 50%; */
}

.chat-border{
    background-color: #006AFF;
    /* padding : 1px 1px 1px 10px; */
    border-radius: 15px;
}

.reply-text{

    padding: 7px;
    color:antiquewhite;
}

.player-wrapper {
    /* background-color: brown; */
    position: relative;
    /* padding-top: 56.25%; 720 / 1280 = 0.5625 */
    border-radius: 20px;
  }

  .vid-player{
    /* position: absolute; */
    top: 0;
    left: 0;
    border-radius: 20px;
    overflow: hidden;
  }
  

.input-text{
    /* horizontal-align: middle; */
    position : top;
    background-color: white;
    /* padding : 1px 1px 1px 10px; */
    border-radius: 15px;
    width : 86%;
    height : 23px;
    font-size: large;
    color: black;
    padding: 5px;
}


.submit-button{
    /* vertical-align: middle; */
    background-color: white;
    /* border: none; */
    /* position: top; */
    float : right;
    /* float: top; */
    /* padding : 1px 1px 1px 10px; */
    border-radius: 15px;
    width : 11%;
    font-size: larger;
    /* height : 100%; */
    /* font-size: large; */
    /* color: black; */
    padding: 6px;
    margin-bottom: 5px;
}

.selector{
    font-size: 20px;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
}